<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Madeira - the wild nature</title>
    <link rel="stylesheet" href="style2.css"> <!-- attention à bien lien le dossier static en premier -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/us">About Us</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo/Gallery">Photos Gallery</a></li>
      </ul>
    </nav>
      <h1>Une équipe de passionnés !</h1>
      <section>
        
        <table >
          <caption>Notre boutique</caption>
          <tr><td><img src="/vieuxCampeur.jpg" href="#" height=450 width=900></td></tr>
          <tr><td><img src="/sport.jpg" href="#" height=150 width=300></td><td><img src="/termique.jpg" href="#" height=150 width=300></td><td><img src="/kway.jpg" href="#" height=150 width=300></td></tr>
        </table>
        
      </section>
      <script src="/app.js"></script>
  </body>
</html>