<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Madeira - the wild nature</title>
    <link rel="stylesheet" href="/style3.css"> <!-- attention à bien lien le dossier static en premier -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/us">About Us</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo/Gallery">Photos Gallery</a></li>
      </ul>
    </nav>
      <h1>Gallerie</h1>
      <section>
        
        <table >
          <tr><td><img src="/madeiraMountain.jpg" href="#" height=150 width=300></td><td><img src="/madeiraVisit.jpg" href="#" height=150 width=300></td><td><img src="/dwarfStyleOfMadeira.jpg" href="#" height=150 width=300></td><td><img src="/portoMoniz2.jpg" href="#" height=150 width=300></td></tr>
          <tr><td><img src="/falaises.jpg" href="#" height=150 width=300></td><td><img src="/caldeira.jpg" href="#" height=150 width=300></td><td><img src="/phoque.jpg" href="#" height=150 width=300></td><td><img src="/portoMoniz3.jpg" href="#" height=150 width=300></td></tr>
          <tr><td><img src="/interieur(9).jpg" href="#" height=150 width=300></td><td><img src="/egliseext.jpg" href="#" height=150 width=300></td><td><img src="/fleur.jpg" href="#" height=150 width=300></td><td><img src="/vallee.jpg" href="#" height=150 width=300></td></tr>
         
        </table>
        
      </section>
      <script src="/app.js"></script>
  </body>
</html>