<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Madeira - the wild nature</title>
    <link rel="stylesheet" href="/style4.css"> <!-- attention à bien lien le dossier static en premier -->
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/us">About Us</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo/Gallery">Photos Gallery</a></li>
      </ul>
    </nav>
      <h1>Notre travail de cartographie</h1>
      <section>
        
        <table >
          <tr><td><img src="/madeiraMap.jpg" href="#" height=400 width=800></td></tr>
        </table>
        
      </section>
      <script src="/app.js"></script>
  </body>
</html>